:root {
  --main-font: "Roboto", sans-serif;
  --title-text-color: #212121;
  --paragraph-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --light-text-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --secondary-greey-color: #f5f4fa;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes line {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(100%);
  }
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);

  font-size: 14px;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ====== HEADER ====== */

.header-page {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.main-navigation {
  display: flex;
  align-items: center;
}

/*Logo*/

.logo {
  margin-right: 86px;

  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition: color 250ms var(--timing-function);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Navigation */

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-item {
  position: relative;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);

  position: absolute;
  bottom: -1.5px;
  left: 0;

  animation: line 1000ms var(--timing-function);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

/* Address */

.address {
  display: flex;

  margin-left: auto;
}

.icon-address {
  margin-right: 10px;

  fill: currentColor;
}

.address .link {
  display: inline-flex;
  align-items: center;

  padding: 32px 0px;

  color: var(--paragraph-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timing-function);
}

.address .link:not(:last-child) {
  margin-right: 30px;
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
  fill: inherit;
}

/* ====== FOOTER ====== */

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.footer-nav {
  display: flex;
  align-items: baseline;
}

/* Footer-logo */

.address-footer {
  margin-right: 69px;
}

.logo-footer {
  display: inline-block;

  color: var(--secondary-text-color);

  margin-bottom: 20px;
  margin-right: 0px;

  transition: color 250ms var(--timing-function);
}

/* Footer-nav */
.footer-nav-item {
  font-weight: 400;
  line-height: 1.71;
}

.footer-nav-item:not(last-child) {
  margin-bottom: 9px;
}

.map {
  color: var(--secondary-text-color);

  transition: color 250ms var(--timing-function);
}

.map:hover,
.map:focus {
  color: var(--accent-color);
}

.contact {
  color: var(--light-text-color);

  transition: color 250ms var(--timing-function);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* Socials-footer */
.title-footer {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.socials-footer-item .link {
  background-color: rgba(255, 255, 255, 0.1);
}

.icon-socials-footer {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.socials-footer-item:not(:last-child) {
  margin-right: 10px;
}

/*Send-footer */

.send-footer {
  margin-left: auto;
}

.input-send {
  width: 358px;
  height: 50px;
  padding: 0px 16px;
  margin-right: 12px;

  color: var(--light-text-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.input-send::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: var(--light-text-color);
}

.btn-send {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  padding: 10px 0px;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.btn-send::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 15px;

  background-image: url("../images/icones/icon-send.svg");
}

.btn-send:hover,
.btn-send:focus {
  background-color: #188ce8;
}
