.logo {
  margin-right: 86px;

  color: #000000;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition: color 250ms $timing-function;
}

.logo:hover,
.logo:focus {
  color: $accent-color;
}

.logo-accent {
  color: $accent-color;
}
