.socials-list {
  display: flex;
  justify-content: space-between;
}

.socials-item .link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: $icon-color;

  transition: background-color 250ms $timing-function, fill 250ms $timing-function;
}

.icon-socials {
  width: 20px;
  height: 20px;
}

.socials-item:hover .link,
.socials-item:focus .link {
  background-color: $accent-color;
  fill: v$primary-white-color;
}
